In [5]:
import pandas as pd
import numpy as np
users=[
        {"id":0,"name": 'Ram'},
        {"id":1,"name": 'Sundar'},
        {"id":2,"name": 'Vinoth'},
        {"id":3,"name": 'Anand'},
        {"id":4,"name": 'Magesh'},
        {"id":5,"name": 'Taha'},
        {"id":6,"name": 'Aneesh'}
        ] # List of employees in organisation
friendship = [(0,1),(0,2),(0,3),(0,4),(0,5),(0,6),
              (1,2),(1,3),(1,4),(1,5),
              (2,3),(2,4),(2,5),
              (3,4),(5,6)] #Friendship vector between them using thier Ids

In [6]:
# The expectation is to predict the mutual relation ship between given employee and list of other employees using above data

print(users)
print(friendship)
df = pd.DataFrame(users)
df["Friends"]=''

[{'id': 0, 'name': 'Ram'}, {'id': 1, 'name': 'Sundar'}, {'id': 2, 'name': 'Vinoth'}, {'id': 3, 'name': 'Anand'}, {'id': 4, 'name': 'Magesh'}, {'id': 5, 'name': 'Taha'}, {'id': 6, 'name': 'Aneesh'}]
[(0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (5, 6)]

In [7]:
df

   id    name Friends
0   0     Ram
1   1  Sundar
2   2  Vinoth
3   3   Anand
4   4  Magesh
5   5    Taha
6   6  Aneesh

In [8]:
# Loop running to scan each frienship vector and storing them in a new column of above data frame 
for i, j in friendship: 
    #users[i]["friends"].append(users[j]['name']) # add i as a friend of j
    #users[j]["friends"].append(users[i]['name']) # add j as a friend of i 
    if (df[df['id']==i]['Friends'].values) == '':
         
         df.iloc[df[df['id']==i].index[0],2] = df[df['id']==j]['name'].values
    else:
         df.iloc[df[df['id']==i].index[0],2]= df.iloc[i,2]+','+df[df['id']==j]['name'].values
    if (df[df['id']==j]['Friends'].values) == '':
         
         df.iloc[j,2] = df[df['id']==i]['name'].values
    else:
         df.iloc[j,2]= df.iloc[j,2]+','+df[df['id']==i]['name'].values
df.head()

   id    name                                 Friends
0   0     Ram  Sundar,Vinoth,Anand,Magesh,Taha,Aneesh
1   1  Sundar            Ram,Vinoth,Anand,Magesh,Taha
2   2  Vinoth            Ram,Sundar,Anand,Magesh,Taha
3   3   Anand                Ram,Sundar,Vinoth,Magesh
4   4  Magesh                 Ram,Sundar,Vinoth,Anand

In [9]:
#Function which predicts the relationship between an employe and list of other employees
def mutual(user, Friends):
 FrndList = []
 for other_user in Friends:
       if other_user in list(df.iloc[df[df['name']==user].index[0],2].split(",")):
        print("%s and %s are already Friends"%(user,other_user))
       else:
        for i in list(df.iloc[df[df['name']==user].index[0],2].split(",")):
        
            if other_user in list(df.iloc[df[df['name']==i].index[0],2].split(",")):
            
                FrndList.append(i)
        if len(FrndList)==0:
            print("No Mutual Friends between them")
        else:
            stri = ",".join(FrndList)
            print("%s may know %s throgh one of his friends %s" %(user,other_user,stri))

In [10]:
#sample output
mutual('Sundar',['Anand','Aneesh'])

Sundar and Anand are already Friends
Sundar may know Aneesh throgh one of his friends Ram,Taha